:root {
  --color-primary: #535FE6;
  --color-secondary: #20C1CF;
  --color-tertiary: #EB5844;

  --color-black: #1D1E22;
  --color-dark-gray: #23252F;
  --color-gray: #5E647A;
  --color-ligth-gray: #F7FAFF;
  --color-white: #fff;

  --gradient-border: linear-gradient(138.45deg, #535FE6 2.35%, rgba(32, 193, 207, 0.33) 49.19%, rgba(83, 95, 230, 0.34) 91.6%);
  --gradient-primary:  linear-gradient(324.25deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);

  --shadow: 0px 15px 24px rgba(0, 0, 0, 0.22);

  --border-radius: 20px;
}